* {
    box-sizing: border-box;
}

html{ 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 22px;
}

body{
    margin: 0;
    font-size: 18px;
}

#microproyecto{
    background-color: rgb(205, 230, 245);
    border: 1px solid white;
    padding: 1.5rem;
    width: auto;
    height: auto;
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
}
.titulo{
    color: white;
}

.return a{
    background-color: #fff;
    border-radius: 100%;
    position: fixed;
    bottom: 10px;
    right: 20px;
}


nav{
    background-color: royalblue;
    border-radius: 10px;
    padding: 1rem;
    margin: 0.5rem;
    margin-top: 0px;
    height: 120px;
    font-size: 30px;
}
.menu-area {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.menu-area a{
    color:white;
    border-radius: 10px;
    padding: 1rem;
    margin: 0.5rem;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 0 25px;
    font-size: 20px;
    line-height: 30px;
}
.menu-area a:hover {
    background: rgb(44, 73, 158);
    color: #fff;
    font-weight: 400;
    font-size: 18px;
}

.section-title{
    align-self: center;
    justify-self: center;
    font-size: 1rem;
    color: rgb(44, 73, 158);
    font-weight: 600;
}

.slide-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: auto;
    position: relative;
  }

  .slide-container .slide {
    display: none;
    min-height : 100%;
    min-width : 100%;
    background-size:100% 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .slide-container .prev,
  .slide-container .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: all 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .slide-container .prev:hover,
  .slide-container .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
  }
  .slide-container .prev {
    left: 2px;
  }
  .slide-container .next {
    right: 2px;
  }
  .slide-container .slide.fade {
    animation: fade 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  }
  .slide-container .slide img {
    width: 100%;
  }


.content{
    background-color: rgb(205, 230, 245);
    border-radius: 10px;
    padding: 0.5rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.experience{
    border: 6px solid black;
    border-radius: 10px;
    padding: 1rem;
    margin: 0.5rem;
}
.experience-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}
.experience-titulo{
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
    color: white;
    margin-bottom: 10px;
}
.experience-herramientas{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    color: white;
    margin-bottom: 10px;
}
.experience-fecha{
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    color: white;
    margin-bottom: 10px;
}

.experience-marca{
    border: 2px solid black;
    border-radius: 10px;
    background-color: royalblue;
    margin: 0.5rem;
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 0.5rem;
}
.experience-as{
    border: 2px solid black;
    border-radius: 10px;
    background-color: royalblue;
    margin: 0.5rem;
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 0.5rem;
}
.experience-real{
    border: 2px solid black;
    border-radius: 10px;
    background-color: royalblue;
    margin: 0.5rem;
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 0.5rem;
}
.experience-content a{
    color:white;
    border-radius: 10px;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 14px;
    padding: 0.5rem;
    align-self: center;
    margin-top: 1rem;
}
.experience-content a:hover {
    color: white;
    font-size: 16px;
    font-weight: 600;
    background-color: rgb(44, 73, 158);
}

.about{
    background-color:  rgb(205, 230, 245)e;
    border-radius: 10px;
    padding: 1rem;
    margin: 0.5rem;
    border: 6px solid black;
}
.about-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}
.about-image{
    margin: 20px;
}
.about-profile{
    background-color: white;
    flex-grow: 2;
    padding: 0.5rem;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    font-size: 20px;
    border: 2px solid black;
}
.profile-left{
    margin: 10px;
    padding: 0.2rem;
}
.profile-right{
    margin: 10px;
    padding: 0.2rem;
}
.about-profile span:nth-child(1){
    font-size: 22px;
    font-weight: 600;
    padding: 0.2rem;
}
.about-profile li{
    margin-left: 50px;
}

.skills{
    background-color:  rgb(205, 230, 245);
    border-radius: 10px;
    padding: 1rem;
    margin: 0.5rem;
    border: 6px solid black;
}
.skills-content{
    display: flex;
    flex-wrap: wrap; 
    margin-top: 1rem;
    justify-content: center;
}

#python{
    background-color: yellow;
    border: 2px solid black;
}
#java{
    background-color: red;
    border: 2px solid black;
}
#html{
    background-color: orange;
    border: 2px solid black;
}
#css{
    background-color: rgb(0, 191, 255);
    border: 2px solid black;
}
#js{
    background-color: black;
    color: white;
    border: 2px solid black;
}
#ts{
    background-color: grey;
    border: 2px solid black;
}

.contact{
    background-color:  rgb(205, 230, 245);
    border-radius: 10px;
    padding: 1rem;
    margin: 0.5rem;
    border: 6px solid black;

}
.contact-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.contact-content a{
    margin-right: 30px;
    margin-left: 30px;
    border-radius: 5px;
}
.contact-mail{
    font-size: 25px;
    text-align: center;
}

.contact-form{
    margin-top: 2rem;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px; 
    margin-top: 6px;
    margin-bottom: 16px;
}
input[type=submit] {
    background-color: royalblue;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: rgb(44, 73, 158);
}